
@{
    ViewData["Title"] = "Novo";
}

<div style="display:flex; justify-content:center; margin-top : 15px;">
    <div class="card" style="width: 50%">
        <div class="card-header">
            Novo Time
        </div>
        <div class="card-body">
            <form id="novo-time">
                <div class="form-group">
                    <label>Nome</label>
                    <input id="nome-time" type="text" class="form-control" placeholder="Entre com o Nome">
                </div>
                <button type="submit" class="btn btn-primary float-right">Adicionar</button>
            </form>
        </div>
    </div>
</div>

